﻿@page
@model RazorPage.StudentModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Student";
    Layout = "_Layout";
}

<h1>Student</h1>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Products List</h3>
    <table border="1" cellpadding="2" cellspacing="2">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        @foreach (var product in Model.students)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.FirstName</td>
                <td>@product.LastName"</td>
                <td>@product.UserName</td>
                <td>@product.Password</td>
                <td>@product.Email</td>
            </tr>
        }
    </table>

</body>
</html>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-page-handler="Aaa">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Students.FirstName" class="control-label"></label>
                <input asp-for="Students.FirstName" class="form-control" />
                <span asp-validation-for="Students.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Students.LastName" class="control-label"></label>
                <input asp-for="Students.LastName" class="form-control" />
                <span asp-validation-for="Students.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Students.UserName" class="control-label"></label>
                <input asp-for="Students.UserName" class="form-control" />
                <span asp-validation-for="Students.UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Students.Password" class="control-label"></label>
                <input asp-for="Students.Password" class="form-control" />
                <span asp-validation-for="Students.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Students.ConfirmPassword" class="control-label"></label>

                <input asp-for="Students.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Students.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Students.Email" class="control-label"></label>
                <input asp-for="Students.Email" class="form-control" />
                <span asp-validation-for="Students.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
          
        </form>
    </div>
</div>

<div>
  
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

