﻿@model ViewComponentDersi.Models.DuyurularModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<input asp-for="Id" class="form-control" id="duy" style="width:50%" />
<br />
<input type="submit" class="btn btn-dark" />
<br />


@await Component.InvokeAsync("Duyuru1", new { id = 1 })